@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Mono:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

html {
  scroll-behavior: smooth;
}
/* *********************/
/* seccion I N I C I O */
/* *********************/

#inicio {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./imgs/encendido-computadora-portatil-gris_400718-47.webp");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#inicio .contenido header {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}
#inicio .contenido header img{
    width: 50px;
}

#inicio .contenido header .contenido-header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1 {
  text-align: center;
  color: #ff5080;
}

#inicio .contenido header .contenido-header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
  text-decoration: none;
  color: #fff;
  margin: 0 12px;
  font-weight: 400;
  transition: 0.5s;
}
#inicio .contenido header .contenido-header nav ul li a:hover {
  color: #ff5080;
}
#inicio .contenido header .contenido-header .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}
#inicio .contenido header .contenido-header .redes a:hover{
    color: #ff5080;
}
#inicio .contenido .presentacion {
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#inicio .contenido .presentacion .bienvenida {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 6px;
}
#inicio .contenido .presentacion h2 {
  font-size: 55px;
  margin-bottom: 25px;
  text-align: center;
}
#inicio .contenido .presentacion h2 span {
  font-size: 35px;
  color: #ff5080;
}
#inicio .contenido .presentacion .descripcion {
  max-width: 700px;
  margin: 25px;
  font-size: 18px;
  text-align: center;
}
#inicio .contenido .presentacion a {
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
}
#inicio .contenido .presentacion a:hover {
  background-color: #ff5080;
}
#icono-nav{
    color: #fff;
    display: none;
}
/*--SOBREMI--*/
#sobreMi{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: black;
    display: flex;
}
#sobreMi .contenedor-foto{
    max-width: 400px;
    margin-right: 80px;
}
#sobreMi .contenedor-foto img{
    padding: 15px;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(54, 51, 51, 0.367);   
}
#sobreMi .sobremi{
    margin: 0 40px;
}
#sobreMi .sobremi h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
    color: rgb(233, 133, 133);;
}
#sobreMi .sobremi h2 span{
    color:#ff5080;
}
#sobreMi .sobremi h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
#sobreMi .sobremi p{
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}
#sobreMi .sobremi a{
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid black;
    margin-top: 30px;
    transition: .5s;
}
#sobreMi .sobremi a:hover{
    background-color: #ff5080;
    color: white;
}
/*--PROYECTOS--*/
#proyectos{
    padding: 100px 15px;
    text-align: center;
    background-color: #f3f3f3;
}
#proyectos .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color:#d3d3d3;
    text-decoration-thickness: 5px;
}
#proyectos .fila{
    display: flex;
    justify-content: center;
    max-width: 1100px;
    margin: 30px auto;
}
#proyectos .fila .proyecto{
    max-width: 750px;
    background-color: white;
    padding: 30px;
    margin: 0 50px;
    border-right: px;
    transition: .5s;
}
#proyectos .fila .proyecto:hover{
    box-shadow: 5px 5px 10px black, -5px -5px 10px;
}
#proyectos .fila .proyecto h4{
    font-size: 22px;
    margin-bottom: 25px;
}
#proyectos .fila .proyecto hr{
    width: 30%;
    margin: auto;
    color: black;
    margin-bottom: 25px;
}
#proyectos .fila .proyecto ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#proyectos .fila .proyecto p{
    font-size: 14px;
    line-height: 22px;

}